@font-face {
	font-family: 'DIN';
	src: url('../fonts/DINRegular.ttf') format('truetype'),
	url('../fonts/DIN Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN';
	src: url('../fonts/DINMediumRegular.ttf') format('truetype'),
	url('../fonts/DIN Medium Regular.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'DIN';
	src: url('../fonts/DINBold.ttf') format('truetype'),
	url('../fonts/DINBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'DIN';
	src: url('../fonts/DINLight.ttf') format('truetype'),
	url('../fonts/DINLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}