.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	text-indent: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.article-block {

	&.top-article {

		.video-holder {
			order: 2;
			width: 100%;
			position: relative;
			padding-top: 75%;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.slideshow {
	position: relative;	

	.slide {
		position: absolute;
		left: 0;
		right: 0;
	}

	.btn-prev,
	.btn-next {
		position: absolute;
		top: 0;
		height: 100%;
		width: 15%;
		border: none;
		z-index: 2;

		&:hover {
			i {
				@include media('>=phone') {

					@include animate (background);

					background: rgba($gold, .32%);
				}
			}
		}

		i {
			position: absolute;
			display: block;
			width: 35px;
			height: 75px;
			top: 50%;
			background: transparent;
			transform: translateY(-50%);
			line-height: 75px;
			font-size: 35px;

			&:before {
				content: "\e902";
			}
		}
	}

	.btn-prev {
		left: 0;

		i {
			left: 0;

			@include media('>=tablet') {
				left: 12px;
			}
			
			&:before {
				content: "\e901";
			}
		}
	}

	.btn-next {
		right: 0;

		i {
			right: 0;

			@include media('>=tablet') {
				right: 12px;
			}
		}
	}

	.pagination {
		@extend %listreset;
		
		width: 100%;
		position: absolute;
		bottom: 0;
	}
}

.slideshow-nanolock {
	margin-bottom: 106px;

	.slide {
		text-align: center;
		width: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		@include media('>=phone') {
			padding: 0;
			width: 100%;
		}

		&.active {
			z-index: 1;
		}

		.caption {
			background: rgba($white, .84%);
			font-size: 10px;
			line-height: 11px;
			padding: 7px 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin-top: calc(75% - 36px);

			@include media('>=phone') {
				height: 90px;
				font-size: 13px;
				line-height: 18px;
				padding: 16px 0;
				margin-top: calc(75% - 90px);
			}

			.title {
				display: block;
				text-transform: uppercase;
				font-weight: 500;
			}
		}

		 .caption.rows {
			text-transform: none;
			padding: 7px 10%;

			@include media('>=phone') {
				padding: 7px 10%;
			}

			@include media('>=tablet') {
				padding: 20px 10%;
			}

			@include media('>=desktop') {
				padding: 20px 20%;
			}

			.title {
				text-transform: uppercase;
			}
		}
	}

	.btn-prev:hover,
	.btn-next:hover {
		i {
			background: transparent;

			@include media('>=tablet') {

				@include animate (background);

				background: rgba($gold, .32%);
			}
		}
	}

	.btn-prev {
		left: -35px;

		@include media('>=tablet') {
			left: 0px;
		}
	}

	.btn-next  {
		right: -35px;

		@include media('>=tablet') {
			right: 0px;
		}
	}
}

.slideshow-implants {
	margin-bottom: 30px;

	@include media('>=tablet') {
		background-color: $gray-light2;
	}

	.img-holder {
		height: 213px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		width: calc(100% - 78px);
		margin: 0 auto;
		background-color: $gray-light2;


		@include media('>=tablet') {
			position: absolute;
			width: 100%;
			height: 100%;
			padding-bottom: 0;
		}
	}

	.slide-description {
		background: $white;
		position: relative;
		z-index: 2;
		padding: 11px 39px 0;
		line-height: 24px;

		@include media('>=tablet') {
			padding: 90px 72px;
			color: $white;
			background-color: transparent;
		}

		@include media('>=desktop') {
			padding: 180px 144px;
			width: 580px;
			padding-right: 0;
		}

		h3 {
			margin-bottom: 22px;
		}

		p {
			margin-bottom: 20px;
		}

		.underline {
			display: block;
			background-color: $gray-base;
			height: 1px;
			width: 178px;
			margin: 60px 0 0;

			@include media('>=tablet') {
				background-color: $white;
			}
		}

		a {
			display: inline-block;
			text-transform: uppercase;
			color: $base-link-color;
			padding: 15px 0;

			@include media('>=tablet') {
				color: $white;
			}

			&:hover {
				text-decoration: underline !important;
			}
		}
	}
	

	.btn-prev i,
	.btn-next i {
		top: 106px;

		@include media('>=tablet') {
			top: 50%;
		}
	}

	.pagination {
		display: none;

		@include media('>=desktop') {
			display: block;
			width: calc(100% - 131px);
			max-width: 855px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 17px;
			line-height: 28px;
			columns: 5;
			column-rule: 1px solid $white;
			text-align: center;
			bottom: 10%;
			left: 131px;
			z-index: 2;

			.active a {
				color: $base-link-color;
			}

			a {
				@include animate (color);
				color: $white;
				padding: 0 10px;

				&:hover {
					color: $base-link-color;
				}
				
			}
		}
	}
}

.post-holder {

	@include media('>=phone') {
		margin: 0 -10px;
	}
	
	@include media('>=desktop') {
		margin: 0 -30px;
	}

	.post {
		display: inline-block;
		width: 100%;

		@include media('>=phone') {
			width: 50%;
			margin-right: -4px;
		}

		@include media('>=desktop') {
			width: 33.3%;
			margin-right: 0;
		}

		.img-box {

			a {
				position: relative;
				overflow: hidden;
				padding-bottom: 75%;

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					max-width: 100%;
				}
			}
		}

		.post-content {
			padding-left: 0;

			h2 {
				margin-bottom: 	10px;
			}
		}
	}
}


.form-holder {
	background-color: $gray-light;
	margin-bottom: 82px;

	.header {
		padding: 21px 0;
		text-align: center;
		background-color: $gray;
		color: $gold-alt;

		.title {
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: .045em;
			line-height: 44px;
			font-weight: 700;

			@include media('>=tablet') {
				font-size: 25px;
			}
		}
	}

	.widget-distributor {
		padding: 40px 21px;
		font-size: 14px;

		@include media('>=phone') {
			padding: 42px 20px 41px 23px;
		}

		@include media('>=tablet') {
			font-size: 19px;
		}

		.login-form {

			.column-holder {
				display: flex;
				flex-flow: row wrap;
				margin: 0;

				@include media('>=phone') {
					justify-content: space-between;
				}

				@include media('>=phone') {
					flex-flow: row nowrap;
					justify-content: flex-start;
				}

				&:after {
					content: none;
				}

				.input-container {
					width: 100%;
					margin-bottom: 34px;
					font-size: 14px;

					@include media('>=phone') {
						width: calc((100% - 70px)/2);
						margin-bottom: 0;
						padding-right: 25px;
					}

					input {
						width: 100%;
						padding: 9px 12px 15px;
						outline: none;
						line-height: 1.2;
						box-sizing: border-box;
						border: 1px solid $gray;
						font-weight: 700;
					}
				}

				button {
					display: inline-block;
					vertical-align: top;
					background-color: $gray;
					border: 1px solid $gray;
					font-weight: 700;
					color: $gold;
					text-align: center;
					width: 100%;
					line-height: 20px;
					padding: 11px 23px;
					letter-spacing: .045em;
					outline: none;

					@include media('>=phone') {
						width: auto;
						margin: 0 auto;
					}

					@include media('>=tablet') {
						min-width: auto;
						margin: 0;
					}
				}	
			}
		}
	}	
}

.slider-poduct-line h1,
.highlights h1 {
	text-align: center;
}

.logged {
	position: relative;
	right: 0;
	text-align: right;
	font-size: 16px;
	font-weight: 700;

	@include media('>=tablet') {
		position: absolute;
		top: -61px;
	}

	.opener {
		padding: 12px 15px 15px 15px;
		line-height: 1;
		letter-spacing: .045em;
	}

	.slide {
		@extend %listreset;
		
		width: 149px;
		position: absolute;
		top: 100%;
		right: 0;
		border: 1px solid $gray;
		border-top: none;

		li {
			border-bottom: 1px solid $gray;

			&:last-child {
				border-bottom: none;
			}

			a {
				display: block;
				width: 100%;
				padding: 6px 5px;
				background-color: $gray-light;
				text-align: left;
				color: $gold-alt3;
				// text-align: center;
				text-decoration: none;

				&:hover {
					border-color: $gold-alt3;
					color: $black;
				}
			}
		}
	}
}