.connection-section {
	background: $gray;
	color: $white;
	text-align: center;
	padding: 42px 0 39px;
	line-height: 19px;

	@include media('>=tablet') {
		padding: 30px 0;
	}

	.heading {
		padding: 0 16px;

		@include media('>=tablet') {
			padding: 0 0 0 16px;
		}

		h5 {
			color: $gold-alt2;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.045em;
			margin-bottom: 18px;
		}

		p {
			margin-bottom: 27px;
		}
	}

	.signup-form {
		
		.input-holder {
			position: relative;
			max-width: 388px;
			margin: 0 auto 3px;
			color: $base-text-color;

			input[type="email"] {
				@include placeholder {
					color: #c2c2c2;
				}

				width: 100%;
				padding: 7px 14px 7px 14px;
				outline: none;
				font-size: 14px;
				line-height: 16px;
				border: 1px solid transparent;
				margin-bottom: 32px;
				font-weight: 400;

				@include media('>=tablet') {
					margin-bottom: 0;
					padding-right: 123px;
				}

				&:focus {
					border: 1px solid $gold;
				}
			}

			button {
				padding: 0 32px 0 32px;
				font-weight: 500;
				border: none;
				outline: none;
				color: #272c2f;
				background-color: $gold;
				line-height: 32px;
				height: 100%;


				@include media('>=tablet') {
					display: inline-block;
					position: absolute;
					padding: 0 34px 0 30px;
					top: 0;
					right: 0;
				}

				&:hover {
					@include animate (background-color);

					background-color: $gold-alt;
				}
			}
		}
	}
}

.main-section {
	font-size: 13px;
	line-height: 23px;
	padding: 30px 0 15px;
	line-height: 28px;
	border-bottom: 4px solid $gold-alt3;

	@include media ('>=tablet') {
		padding: 40px 36px 17px;
		line-height: 30px;
	}

	.container {

		.list-holder {
			@extend %clearfix;

			.list-columns {
				@extend %listreset;

				display: block;
				columns: 2;
				text-align: left;
				column-gap: 0;
				margin-bottom: 20px;

				@include media('>=phone') {
					width: 60%;
					float: left;
				}

				@include media ('>=desktop') {
					columns: 3;
					width: 75%;
				}

				&>li:last-child {
					margin-bottom: 70px;

					@include media ('>=phone') {
						margin-bottom: 0;
					}
				}

				a {
					text-decoration: none;
					color: $base-text-color;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.contacts {
				display: block;
				text-align: right;

				@include media('>=tablet') {
					float: right;
				}

				@include media ('>=desktop') {
					width: 25%;
				}

				.sub-list {
					@extend %listreset;

					margin-bottom: 15px;

					@include media('>=tablet') {
						margin-bottom: 42px;
					}

					a {
						text-decoration: none;
						color: $base-text-color;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.copyright-holder {
			text-align: right;

			a {
				font-size: 10px;
				text-decoration: none;
				white-space: nowrap;
				text-transform: uppercase;

				@include media ('>=phone') {
					padding-right: 0;
					margin-bottom: 28px;
				}

				&:hover {
					color: lighten($base-link-color, 10%);
				}
			}
		}
	}
}